{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">Table schema</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Column Name</th>
          <th scope="col">Data type</th>
        </tr>
      </thead>
      <tbody>
      {%for i in range(0, len)%}
        <tr>
          <th scope="row">{{i}}</th>
          <td>{{rows[i]['column_name']}}</td>
          <td>{{rows[i]['data_type']}}</td>
        </tr>
      {%endfor%}
      </tbody>
    </table>
</div>
<script>
  async function handleClick(){

  }
</script>
{% endblock %}
